In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Carga desde un archivo .xlsx sin indice
data = pd.read_excel('inmuebles2.xlsx')

In [3]:
#Convertir DataFrame a CSV
data.to_csv("inmuebles2.csv")

In [ ]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('inmuebles2.csv') 
data

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
df= data1.drop(['0','Referencia'], axis=1)
df

In [24]:
#Identificar valores nulos
valores_nulos=df.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor          0
dtype: int64

In [18]:
#Realizamos una copia del dataframe
dfc=df.copy()

In [ ]:
#Sustituir valores nulos con promedio o media
df["Superficie"]=df["Superficie"].fillna(round(df["Superficie"].mean(),1))
df

In [23]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
df["Vendedor"] =df["Vendedor"].fillna(method="ffill") 
df

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,María
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,María
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,María
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,María
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,170.2,2140712.0,NaN,María